@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';

@theme {
	--font-sofia: 'Sofia Sans Condensed', sans-serif;
	--font-spline: 'Spline Sans Mono', monospace;
	--font-inter: 'Inter', sans-serif;
	--color-text: #101010;
	--color-background: #f7f7f7;
	--color-cta: #034872;
	--color-cta-hover: #033b5e;
}

body {
	font-family: var(--font-inter);
	color: var(--color-text);
	background-color: var(--color-background);
	font-size: 16px;
	line-height: 1.625;
}

#primary-navigation {
	font-family: var(--font-sofia);
}

.about-me {
	p {
		font-family: var(--font-spline);
	}
}

form.contact {
	width: 280px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 50px;

	.field {
		position: relative;

		label {
			transition: 0.5s;
			font-family: var(--font-sofia);
			font-weight: 600;
			text-transform: uppercase;
			position: absolute;

			&.active {
				font-weight: 400;
				transform: translateY(-30px);
			}
		}

		input {
			width: 100%;
			/* height: 40px; */
			border-bottom: 1px solid #101010;

			&:focus {
				outline: none;
			}
		}

		textarea {
			width: 100%;
			border-bottom: 1px solid #101010;

			&:focus {
				outline: none;
			}
		}
	}

	button[type='submit'] {
		font-weight: 700;
		font-family: var(--font-sofia);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		font-size: 24px;
		text-transform: uppercase;
	}
}

footer {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 80px;

	.name {
		font-family: var(--font-sofia);
		font-size: 48px;
		font-weight: 900;
		line-height: 36px;
	}

	.connect {
		margin-left: auto;

		.social-media {
			display: flex;
			gap: 20px;
			align-items: center;

			a {
				border-bottom: 1px solid #101010;
			}
		}
	}

	nav {
		margin-right: auto;
	}
}
