@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';

@theme {
	--font-sofia: 'Sofia Sans Condensed', sans-serif;
	--font-spline: 'Spline Sans Mono', monospace;
	--font-inter: 'Inter', sans-serif;
	--color-text: #101010;
	--color-background: #f7f7f7;
	--color-cta: #034872;
	--color-cta-hover: #033b5e;
}

body {
	font-family: var(--font-spline);
	color: var(--color-text);
	background-color: var(--color-background);
	font-size: 16px;
	line-height: 1.625;
}

.about-track {
	display: block;
	position: relative;
	height: max-content;

	canvas {
		width: 100%;
		height: 100%;
		touch-action: pan-y;
	}

	.text-1,
	.text-2,
	.text-3,
	.text-4,
	.text-5,
	.text-6,
	.text-7,
	.text-8,
	.text-9 {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translateY(-50%) translateX(50%);
		backdrop-filter: blur(10px);
		width: max-content;
		max-width: 80%;
		max-height: 300px;
		font-size: 12px;
		overflow-y: auto;
		overflow-x: hidden;
		color: #f7f7f7;
		padding: 10px 20px;
		filter: drop-shadow(1px 1px 0px #101010);
		background-color: rgba(0, 0, 0, 0.5);
		font-weight: 600;
		opacity: 0;
		display: none;

		@media (min-width: 780px) {
			font-size: 16px;
			max-width: 50%;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 80px;

	.name {
		font-family: var(--font-sofia);
		font-size: 48px;
		font-weight: 900;
		line-height: 36px;

		@media (min-width: 768px) {
			font-size: 124px;
			line-height: 100px;
			letter-spacing: -4pt;
		}
	}

	.connect {
		margin-left: auto;

		.social-media {
			display: flex;
			gap: 20px;
			align-items: center;

			a {
				border-bottom: 1px solid #101010;
			}
		}
	}

	nav {
		margin-right: auto;
	}
}
