@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@import 'tailwindcss';

@theme {
	--font-sofia: 'Sofia Sans Condensed', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--color-text: #101010;
	--color-background: #f7f7f7;
	--color-cta: #456882;
	--color-cta-hover: #3a5a72;
}

body {
	font-family: var(--font-inter);
	color: var(--color-text);
	background-color: var(--color-background);
	font-size: 16px;
	line-height: 1.625;
}

#primary-navigation {
	font-family: var(--font-sofia);
}

article.project-item {
	display: flex;
	flex-direction: column;
	gap: 28px;

	img {
		height: 150px;
		width: 100%;
		object-fit: cover;
	}

	.project-item__info {
		display: flex;
		gap: 28px;

		img {
			flex-shrink: 0;
			width: 52px;
			height: 52px;
			object-fit: cover;
		}

		header {
			h3 {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}

	a {
		font-weight: 600;
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 100%;
		background-color: var(--color-cta);

		&:hover {
			background-color: var(--color-cta-hover);
		}
	}
}

form.contact {
	width: 280px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.field {
		label {
			font-family: var(--font-sofia);
			font-weight: 400;
			text-transform: uppercase;
		}

		input {
			width: 100%;
			height: 40px;
			border-bottom: 1px solid #101010;
		}

		textarea {
			width: 100%;
			min-height: 100px;
			border-bottom: 1px solid #101010;
		}
	}

	button[type='submit'] {
		font-weight: 700;
		font-family: var(--font-sofia);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		font-size: 20px;
		text-transform: uppercase;
	}
}

footer {
	.name {
		font-family: var(--font-sofia);
		font-size: 48px;
		font-weight: 900;
		line-height: 36px;
	}
}
