@media (min-width: 768px) {
	#primary-desktop-navigation {
		ul {
			li:not(:last-child, :first-child) {
				&::after {
					content: ']';
				}

				&::before {
					content: '[';
				}

				a {
					padding: 0 4px;
				}
			}

			li:hover {
				font-weight: 600;
			}
		}
	}
}
